##Function
The objective of using this Jupyter notebook is experimentation and testing of the different models that will be developed in order to pick out the best one.

In [3]:
import pandas as pd

df = pd.read_csv("/home/mwanikii/Documents/data_science_projects/financial_inclusivity/input/Train.csv")
df.head

<bound method NDFrame.head of       country  year       uniqueid bank_account location_type  \
0       Kenya  2018     uniqueid_1          Yes         Rural
1       Kenya  2018     uniqueid_2           No         Rural
2       Kenya  2018     uniqueid_3          Yes         Urban
3       Kenya  2018     uniqueid_4           No         Rural
4       Kenya  2018     uniqueid_5           No         Urban
...       ...   ...            ...          ...           ...
23519  Uganda  2018  uniqueid_2113           No         Rural
23520  Uganda  2018  uniqueid_2114           No         Rural
23521  Uganda  2018  uniqueid_2115           No         Rural
23522  Uganda  2018  uniqueid_2116           No         Urban
23523  Uganda  2018  uniqueid_2117           No         Rural

      cellphone_access  household_size  age_of_respondent  \
0                  Yes               3                 24
1                   No               5                 70
2                  Yes               5                 26
3                  Yes               5                 34
4                   No               8                 26
...                ...             ...                ...
23519              Yes               4                 48
23520              Yes               2                 27
23521              Yes               5                 27
23522              Yes               7                 30
23523              Yes              10                 20

      gender_of_respondent relationship_with_head           marital_status  \
0                   Female                 Spouse  Married/Living together
1                   Female      Head of Household                  Widowed
2                     Male         Other relative     Single/Never Married
3                   Female      Head of Household  Married/Living together
4                     Male                  Child     Single/Never Married
...                    ...                    ...                      ...
23519               Female      Head of Household       Divorced/Seperated
23520               Female      Head of Household     Single/Never Married
23521               Female                 Parent                  Widowed
23522               Female                 Parent       Divorced/Seperated
23523                 Male                  Child     Single/Never Married

                       education_level                   job_type
0                  Secondary education              Self employed
1                  No formal education       Government Dependent
2      Vocational/Specialised training              Self employed
3                    Primary education  Formally employed Private
4                    Primary education        Informally employed
...                                ...                        ...
23519              No formal education               Other Income
23520              Secondary education               Other Income
23521                Primary education               Other Income
23522              Secondary education              Self employed
23523              Secondary education                  No Income

[23524 rows x 13 columns]>